body {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#wrapper {
    width:520px;
    margin-left:auto;
    margin-right:auto;
}

a {
    color:steelblue;
}

.label {
    font-size:0.8em;
    line-height:160%;
}

.legendary {
    padding:3px;
}

.card {
    margin-bottom:15px;
}

.chatter {
    line-height:170%;
}

.barChart {
    display:inline-block;
    width:89%
}

.updown {
    display:inline-block;
    width:10%;
    text-align:center;
    font-weight:bold;
    font-size:1em;
    padding-bottom:4px;
}

.holder {
    height:330px;
    overflow-x:hidden;
    overflow-y:auto;
}

.bar {
    text-align:right;
    font-weight:bold;
    font-size:0.8em;
}

.first {
    text-align:right;
    font-weight:bold;
    float:left;
}

.filter {
    margin-top:5px;
    margin-bottom:10px;
}

#increasing .bar {
    background-color:#9EE384;
}

#decreasing .first {
    background-color:#F28670;
}

#weird .bar {
    background-color:#dddddd;
}

#increasing .first {
    background-color:#299E3D;
}

#decreasing .bar {
    background-color:#C22A22;
}

#weird .first {
    background-color:#636363;
}


.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    font-size:0.6em !important;
    color: #888 !important;
    line-height:140%;
    padding-top:10px !important;
    padding-bottom:10px !important;
    text-align:left !important;
}

#listing {
    height:300px;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:#dddddd;
}

.scrollToTop {
    color: steelblue !important;
    text-align: center;
    padding:15px;
}

.scrollToTop:hover {
    color: #333 !important;
    cursor: pointer;
}

.dropdown {
    margin-top:10px;
}
  
#viewSwitch {
    text-align: center;
}

#chartMonth .c3-line-statewide-trend,
#chartMonth .c3-line-northwest-trend,
#chartMonth .c3-line-northeast-trend,
#chartMonth .c3-line-southwest-trend,
#chartMonth .c3-line-southeast-trend,
#chartMonth .c3-line-central-trend,
#chartMonth .c3-line-northcentral-trend,
#chartMonth .c3-line-south-central-trend,
#chartMonth .c3-line-west-central-trend,
#chartMonth .c3-line-east-central-trend,
#chartColdest .c3-line-downtown-ma {
    stroke-width: 3px !important;
}

.wrapper-dropdown-1 .active {
    background: #ddd;
}

.wrapper-dropdown-1 {
    display: inline-block;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    z-index: 900;
    background: #ddd !important;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 8px;
    position: relative;
    width: 100%;
    border: 1px solid #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.10);
    font-size: 14px;
}

.wrapper-dropdown-1 .dropdown {
    font-weight: normal;
    left: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #aaa;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
}

ul.dropdown.months {
    box-sizing: border-box;
    margin: 0;
    moz-box-sizing: border-box;
    padding: 0;
    webkit-box-sizing: border-box;
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.wrapper-dropdown-1 .dropdown {
    font-weight: normal;
    left: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #aaa;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
}

.wrapper-dropdown-1 .dropdown li:hover a {
    background: #EFEFEF;
}

header[role="banner"] {
    width: 100%;
    height: 40px;
    z-index: 1000;
    background: #f0f0f0;
}

.c3-tooltip th {
    background-color: #aaa;
    font-size: 12px;
    padding: 2px 5px;
    text-align: left;
    color: #FFF;
    font-family: "Benton Sans";
}

@media (max-width:520px) {
    #wrapper {
        width:100%;
    }
}