#wrapper {
	width:100%;

}

.map {
	width:100%;
	height:400px;
}

.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-compass, .mapboxgl-ctrl-top-right {
	display:none !important;
}

.geocoder {
    width:100%;
 }

.mapboxgl-ctrl-geocoder { 
    min-width:100%; 
 }

.byline a {
    color: #888;
}

.geocoder { 
    display:none !important;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.7em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:right;
}

.chatter {
	padding-top:6px;
	padding-bottom:10px;
	line-height:140%;
}

.legendary {
	padding:3px;
}