#wrapper {
    width:520px;
    margin-right:auto;
    margin-left:auto;
}

.legendary {
    padding:2.5px;
    color:#ffffff;
    font-weight:normal !important;
}

.chatter {
  line-height:160%;
}

.districtName {
  line-height:160%;
  font-weight:900;
}

.byline {
   font-family: "Benton Sans", Helvetica, Arial, sans-serif;
   font-weight: 400 !important;
   font-size:0.6em !important;
   color: #888 !important;
   padding-top:10px !important;
   padding-bottom:10px !important;
   line-height:140%;
   text-align:left !important;
}

#chartStates {
	height:770px;
}

.mobilekill {
  display:none;
}

.map text {
  fill:#ffffff !important;
  pointer-events:none !important;
}

.map rect:hover {
  cursor:pointer;
  opacity:0.7;
}

.mnmap {
  text-align:center;
}

#mapProviders {
    height: 400px;
    width:100%;
}

.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-compass, .mapboxgl-ctrl-logo {
    display:none !important;
}


@media (max-width:520px) {
    #wrapper {
        width:100%;
    }
}