body {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}
#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:520px;
}
.map {
	text-align:center;
}
.chartTitle {
	text-align:center;
}
.slide {
	text-align:center;
}
.quantize {
	padding:10px;
    width: 291px;
    margin-right: auto;
    margin-left: auto;
}