/* PROJECT STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    overflow-x: hidden !important;
}

a {
    color: steelblue;
}

#map {
    width: 100%;
    height: 600px;
}

#wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

canvas {
    position: static !important;
}

#geocoder-container,
.mapboxgl-ctrl-geocoder {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mapboxgl-ctrl-attrib {
    display: none;
}

#rightSide {
    width: 48%;
    float: right;
    padding: 10px;
}

#leftSide {
    width: 48%;
    float: left;
    padding: 10px;
}

#filter input:focus {
    width: 100% !important;
}

#filter input {
    width: 100% !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.zoom {
    float: none !important;
    text-align: center;
    padding: 20px;
}

.chatter {
    text-align: left;
    padding: 15px;
}

.fly {
    display: inline-block;
    width: 16%;
    /*height:50px;*/
    border: 1px solid #000;
}

.fly:hover,
.selected {
    background-color: #333;
    cursor: pointer;
    color: #fff;
    margin: 0 !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass { 
  display:none !important;
}

@media (max-width:920px) {
    #midbreak {
        display: none;
    }
    #mapboxgl-ctrl-geocoder input {
        text-align: center;
        width: 100%;
        margin: 0 0 0 0 !important;
    }
    #geocoder-container,
    .mapboxgl-ctrl-geocoder {
        text-align: center;
        margin: 0 0 0 0 !important;
        width: 100%;
        max-width: 100%;
    }
    #wrapper {
        width: 100%;
    }
    .fly {
        width: 32.5%;
    }
}