/* PROJECT STYLES */
#wrapper {
  margin-right:auto;
  margin-left:auto;
  width:540px;
}

.adjacent {
  display:inline-block;
}

#region .col {
  display:inline-block;
  width:48%;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

#commutes .col {
  display:inline-block;
  width:32%;
}

.th { 
  padding:5px; 
  font-weight:900;
}

.th:hover {
  opacity:0.8;
  cursor:pointer;
}

.selected3 {
  text-decoration:underline;
}

.row { 
  padding:5px; 
}

.selected {
  margin:0 !important;
}

#listing .row:hover {
  opacity:0.8;
  cursor:pointer;
}

#listing {
  height:300px;
  overflow-x:hidden;
  overflow-y:auto;
}

#dashboard {
  width:100%;
  float:left;
}

#district {
  font-size:1.4em;
  font-weight:900;
}

#map {
  width:100%;
  height:300px;
}

#mapMain {
  width:100%;
  float:right;
}

.mapboxgl-ctrl-attrib { 
  display:none !important; 
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass { 
  display:none !important;
}

.area {
  display:none;
}

.statRow div { 
  display:inline-block;
  width:24%;
}

.statRow {
  padding:5px;
}

.statHead {
  font-weight:900;
  margin-bottom:5px;
}

.pop2010, .pop2025, .bar {
  text-align:right;
}

.commuters {
  text-align:right;
  width:25% !important;
}

.metro {
  width:48% !important;
}

.state {
  width:25% !important;
  text-align:center;
}

#commuter_list {
  height:300px;
  overflow-x:hidden;
  overflow-y:auto;
}

.num {
  padding:5px;
}

.source {
  margin-top:15px;
  font-size:0.8em;
  color:#aaaaaa;
}

@media (max-width:539px) {

  #wrapper {
    width:100%;
  }

  #mapMain{ 
    width:100%; 
  }

  #map, #listing {
    height:300px;
  }

  #dashboard { 
    width:100%; 
  }

}

@media (max-width:500px) {
  .pop2010 {
    display:none !important;
  }

  .pop2025 {
    display:none !important;
  } 

  .statRow div {
    width:48%;
  }
}