<div id="wrapper">

<div class="slide" id="mpls">
<div class="chartTitle">Minnesota's changing veteran population</div>
<div class="chatter">Displays Minnesota veteran population broken down by which cohorts they belong to, stretching from 2016 to 2045 projections. Move the slider to change displayed year.</div>

<div class="left" id="minus">-</div><div class="right" id="plus">+</div><div id="slideCount" class="chatter">Year: <span id="year">2016</span></div>

<input id="slider" type="range" min="2016" max="2045" step="1" value="2016" />

<div id="venn" class="chart"><svg id="vennSVG" width="500" height="550" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid"></svg></div>

<div class="byline">Source: U.S. Department of Veterans Affairs, U.S. Census Bureau | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
</div>

</div>