/* PROJECT STYLES */
body,
#filter,
#filter input:focus,
p {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

.hideme {
    display:none !important;
}

#chart .c3-line {
    stroke-width: 4px !important;
}

#chart .c3-line {
    stroke-width: 6px !important;
}

p {
    text-align: left !important;
}

#down {
    display:none;
}

.chatter {
    line-height:160%;
    text-align:left;
}

.mobileshow {
    display:none;
}

.legendary {
    padding:4px;
    font-weight:bold;
    color:#ffffff;
}

.legendary:hover {
    cursor:pointer;
    opacity:0.5;
}

.byline a {
    color: #888;
}

.byline {
    line-height:130%;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.legendary {
   border-radius: 5px;
   padding: 0 7px;
   display: inline-block;
   margin-bottom: 3px;
   color: #fff;
   font-weight:bold;
}

.mathScores {
    background-color:#BF603C !important;
    color:#ffffff !important;
}

.reading.legendary {
    background-color:#4C4C39 !important;
}

.math.legendary {
    background-color:#BF603C !important;
}

.both.legendary {
    background-color:#59A897 !important;
}

.math, .reading, .both   {
    background-color:inherit !important;
}

.readingScores {
    background-color:#4C4C39 !important;
    color:#ffffff !important;
}

.bothScores {
    background-color:#59A897 !important;
    color:#ffffff !important;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.mapboxgl-ctrl-attrib {
    display: none;
}

#wrapper {  
    text-align:center;
    width: 520px;
    margin-right: auto;
    margin-left: auto;
}

#leftSide {
    width: 30%;
    float: left;
}

#rightSide {
    width: 100%;
    float: right;
}

#infobox {
    text-align: left;
    padding: 4px;
}

#schoolsList {
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.stat {
    font-weight: 900;
}

#filter {
    padding: 12px;
}

#chart {
    height: 200px;
}

.source {
    font-size: 0.8em;
}

.where {
    font-size: 0.9em;
}

.bigPCT,
.category {
    display: inline-block;
    width: 48%;
}

#instructions {
    color: #999;
    font-size: 1.1em;
    top: 100px;
    width: 100%;
    z-index: 1;
    margin-top: 30%;
    text-align: center !important;
}

#filter input {
    border-radius: 0 !important;
    width: 100% !important;
}

#filter {
    padding: 0px !important;
}

#filter2 input {
    border-radius: 0 !important;
    width: 100% !important;
}

#filter2 {
    padding: 0px !important;
    margin-top:7px;
    margin-bottom:7px;
}

#schoolname {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 160%;
}

p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

#geocoder-container {
    width: 100%;
    margin-top: 10px;
}

#geocoder-container > div {
    min-width: 100%;
    margin-left: 0;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.better {
    background-color: #AEBFAC;
    color: #fff;
}

.worse {
    background-color: #BF7E7C;
    color: #fff;
}

.expected {
    background-color: #BBA4BC;
    color: #fff;
}

.nan {
    background-color: #fff;
    color: #000;
}

#districtSelect {
    font-weight: 900;
    font-size: 1.4em;
    text-align: left;
}

#districtSelect:hover {
    cursor: pointer;
    opacity: .5;
}

#listedSchools {
    display: block;
    height: 360px;
    overflow-y: auto;
    z-index: 90;
}

#filter2 {
    //display:none;
}

li.district {
    text-align: left !important;
    line-height:140%;
}

.cell:hover,
.selected2 {
    cursor: normal;
    opacity: 1;
}

.zoom {
    float: none !important;
    text-align: center;
    padding: 15px;
}

.gray3 {
    color: #fff;
}

.chartTitle {
    color: #000 !important;
    text-align: left;
    font-size:1.5em;
}

.switch {
    padding: 1px;
    display: inline-block;
    text-align: left;
    width: 100%;
    background-color: #fff;
    line-height:140%;
    font-weight: 900;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    border: 1px solid white;
    color: #000;
    margin: 0 !important;
    font-size: .8em;
}

.cell {
    display: inline-block;
    width: 32.5%;
}

.headcell {
    display: inline-block;
    width: 33%;
}

.povCell {
    padding:12px;
}

.gray3 {
    font-weight:normal !important;
}

.read {
    stroke-dasharray: 5, 5;
    stroke: #51373E;
}

.math {
    stroke-dasharray: 5, 5;
    stroke: #E3B5A4;
}

.bigNum {
    font-size: 1.4em;
}

#mobileBreak {
    display: none;
}

.category {
//    background-color:#ffffff !important;
//    color:#000000 !important;
}

@media (max-width:800px) {
    #wrapper { 
        width:100%;
    }
}

@media (max-width:620px) {
    .cell, .headcell {
        display: inline-block;
        width: 32%;
    }
}

@media (max-width:600px) {
    #districtSelect {
        font-weight: 900;
        font-size: 1.2em;
        text-align: left;
    }
    .cell, .headcell {
        display: inline-block;
        width: 32%;
    }
    .mobileshow {
        display:block;
    }
    #wrapper {
        width: 100%;
    }
    #leftSide {
        width: 100%;
        float: none;
    }
    .mobilekill {
        display:none;
    }
    #rightSide {
        width: 100%;
        float: none;
    }
    #schoolsList {
        height: 150px;
    }
    #mobileBreak {
        display: block;
    }
    #infobox {
        padding: 0;
        margin-top: 30px;
    }
}

/*Rahul's Edits */

.switch {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px !important;
}

.schoolName {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
}

.districtName {
//    display: inline;
    margin-bottom: 5px;
    margin-top: -10px;
    font-weight: 100;
    font-size: 12px;
}

.bigPCT {
    font-size: 14px;
    margin-bottom: 2px;
    letter-spacing: 0.75px;
}

.bigPCT, .category {
    width: 50%;
}

div#rPCT, div#mPCT  {
    margin-bottom: 0px;
}
.category   {
    font-weight: 100;
}

#rPCT, #mPCT, #rPCTP, #mPCTP {
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0px;
}

span#categoryM, span#categoryR {
    margin-left: 0px;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0px;
}

ul#listedSchools {
    border: 2px solid #EEE;
}