/* PROJECT STYLES */

$color-strib-green: #61BF1A;
$color-dark-green: #4C9414;
$color-dark-red: #941D14;
$wrapper-max: 520px;


#wrapper {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: $wrapper-max;
  font-family: $bentonSans;
  font-size: 16px;
  padding-top: 1em;
  margin-bottom: 1em;
  line-height: 1.25em;

  p {
    font-family: $bentonSans;
    font-size: 16px;
    margin-bottom: 1em;
  }

  @media screen and (max-width: $wrapper-max) {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  h2 {
    font-weight: 900;
    margin-bottom: 0.5em;
  }

  .byline {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size:0.6em;
      color: #888;
      padding-top:10px;
      padding-bottom:10px;
      text-align:left;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  em {
    font-style: italic;
  }
}

.drug-details {
  margin-bottom: 2em;

  .brand-name {
    font-weight: 900;
  }

  .description {
    max-width: 85%;
    margin: 0 auto;
    height:120px;
  }

  .per-user-change {
    font-weight: 900;
  }

  .positive {
    color: $color-dark-green;
  }

  .negative {
    color: $color-dark-red;
  }

  #chart {
    .c3-line {
      stroke-width: 6px !important;
    }

    .chart-tooltip {
      background-color: rgba(0, 0, 0, 0.8);
      color: #FFFFFF;
      font-size: 0.85em;
      padding: 0.5em 1em;

      .tooltip-label {
        font-weight: 900;
        display: inline-block;
        padding-right: 0.5em;
      }
    }
  }
}

.chart-title {
  height:60px;
}

.drugs-of-note {
  margin-bottom: 2em;

  .drug-switch {
    cursor: pointer;
    display: inline-block;
    padding: 0.25em 0.5em;
    margin-bottom: 0.25em;

    &:hover {
      background-color: #BBBBBB;
    }

    &.active {
      background-color: #222222;
      color: #FFFFFF;
    }
  }
}

.ui-menu.ui-widget.ui-autocomplete {
  max-height: 10em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.drug-search {
  margin-bottom: 1em;
}

.source-notes {
  font-size: 0.85em;
  text-align: right;
  color: #BABABA;
}
