/* PROJECT STYLES */
body,
#filter,
#filter input:focus {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#chart .c3-line {
    stroke-width: 6px !important;
}

#map {
    width: 100%;
    height: 400px;
}

#map_blocks {
    width: 100%;
    height: 650px;
}

.map-overlay-container {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.mapboxgl-ctrl-attrib {
    display: none;
}

#wrapper {
    text-align: center;
    width: 100%;
}

#viewSwitch,
#current {
    padding: 10px;
}

.stat {
    font-weight: 900;
}

#filter {
    padding: 12px;
}

#chart {
    height: 250px;
}

.source {
    font-size: 0.8em;
}

#blurb {
    text-align: center;
    padding: 15px;
}

#visitors {
    font-weight: 900;
    color: #66AF50;
}

#parkname {
    font-weight: 900;
}

#filter input {
    border-radius: 0 !important;
    width: 100% !important;
}

#filter {
    padding: 0px !important;
}

p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

#geocoder-container,
#geocoder-container2 {
    width: 100%;
    margin-top: 10px;
    display: none;
}

#geocoder-container > div,
#geocoder-container2 > div {
    min-width: 100%;
    margin-left: 0;
}

#parksList {
    height: 164px;
    overflow: auto;
}

.zoom {
    float: none !important;
    text-align: center;
    padding: 15px;
}

.switch {
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #fff;
    font-weight: 900;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    border: 1px solid black;
    color: #000 !important;
    margin: 0 !important;
}

.switch:hover,
.selected,
.step:hover {
    background-color: #4C4C39 !important;
    color: #fff !important;
    cursor: pointer;
    margin: 0 !important;
}

.play {
    background-color: #fff !important;
    color: #000;
}

.pause {
    background-color: #333 !important;
    color: #fff;
}

#diverse {
    color: #299129;
}

#toggle {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 23px;
    font-size: 2em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#toggle:hover {
    background-color: #333 !important;
    color: #fff;
    cursor: pointer;
}

.navButtons {
    display: block;
    text-align: center;
    background-color: #fff !important;
    width: 40px;
    font-size: 2em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-weight: 900;
}

.navButtons:hover {
    background-color: #333 !important;
    color: #fff;
    cursor: pointer;
}

.previous {
    float: left;
}

.next {
    float: right;
}

#tracker {
    padding-top: 10px;
    text-align: center;
}

.trackDot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 6px;
    background-color: #ddd;
}

.trackDot:hover,
.current {
    background-color: #333;
    cursor: pointer;
}

.dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#box {
    text-align: center;
}

.map-overlay-container {
    position: static;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.controls {
    display: inline-block;
    width: 49.5% !important;
    vertical-align: top;
}

@media (max-width:500px) {
    #map,
    #map2 {
        position: static;
        height: 400px;
    }
    .map-overlay-container {
        width: 100%;
        position: static;
    }
    .bottom {
        position: static;
        width: 100%;
        clear: both;
    }
    .controls {
        display: block;
        width: 100% !important;
        vertical-align: top;
    }
}