/* PROJECT STYLES */
body,
#filter,
#filter input:focus {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#chart .c3-line {
    stroke-width: 6px !important;
}

#wrapper {
    text-align: center;
}

#viewSwitch,
#current {
    padding: 10px;
}

.stat {
    font-weight: 900;
}

h3 {
    text-align: left;
}

.selected {
    margin:0 !important;
}

#filter {
    padding: 12px;
}

.source {
    font-size: 0.8em;
}

.switch {
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 48.5%;
    background-color: #fff;
    margin:0 !important;
    font-weight: 900;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    border: 1px solid black;
    color: #000 !important;
}

.switch:hover,
.selected,
.step:hover {
    background-color: #4C4C39 !important;
    color: #fff !important;
    cursor: pointer;
    margin: 0 !important;
}